﻿/* Padding */

.p0{
    padding:0px;
}

.p5{
    padding:5px;
}

.p10{
    padding:10px;
}

.p15{
    padding:15px;
}

.p20{
    padding:20px;
}

.p25{
    padding:25px;
}

.p30{
    padding:30px;
}

.p35{
    padding:35px;
}

.p40{
    padding:40px;
}

.p45{
    padding:45px;
}

.p50{
    padding:50px;
}


.pt0{
    padding-top:0px;
}

.pt3{
    padding-top:3px;
}

.pt5{
    padding-top:5px;
}

.pt10{
    padding-top:10px;
}

.pt15{
    padding-top:15px;
}

.pt20{
    padding-top:20px;
}

.pt25{
    padding-top:25px;
}

.pt30{
    padding-top:30px;
}

.pt35{
    padding-top:35px;
}

.pt40{
    padding-top:40px;
}

.pt45{
    padding-top:45px;
}

.pt50{
    padding-top:50px;
}

.pt60{
    padding-top:60px;
}

.pt70{
    padding-top:70px;
}

.pb0{
    padding-bottom:0px;
}

.pb5{
    padding-bottom:5px;
}


.pb10{
    padding-bottom:10px;
}

.pb15{
    padding-bottom:15px;
}

.pb20{
    padding-bottom:20px;
}

.pb25{
    padding-bottom:25px;
}

.pb30{
    padding-bottom:30px;
}

.pb35{
    padding-bottom:35px;
}

.pb40{
    padding-bottom:40px;
}

.pb45{
    padding-bottom:45px;
}

.pb50{
    padding-bottom:50px;
}

.pb70{
    padding-bottom:70px;
}

.pb100{
    padding-bottom:100px;
}

.pr0{
    padding-right:0px;
}

.pr5{
    padding-right:5px;
}


.pr10{
    padding-right:10px;
}


.pr15{
    padding-right:15px;
}


.pr20{
    padding-right:20px;
}


.pr25{
    padding-right:25px;
}


.pr30{
    padding-right:30px;
}


.pr35{
    padding-right:35px;
}


.pr40{
    padding-right:40px;
}


.pr45{
    padding-right:45px;
}


.pr50{
    padding-right:50px;
}


.pl0{
    padding-left:0px;
}

.pl5{
    padding-left:5px;
}


.pl10{
    padding-left:10px;
}


.pl15{
    padding-left:15px;
}


.pl16{
    padding-left:16px;
}


.pl17{
    padding-left:17px;
}


.pl20{
    padding-left:20px;
}


.pl22{
    padding-left:22px;
}


.pl23{
    padding-left:23px;
}


.pl25{
    padding-left:25px;
}


.pl26{
    padding-left:26px;
}


.pl30{
    padding-left:30px;
}


.pl35{
    padding-left:35px;
}


.pl40{
    padding-left:40px;
}


.pl45{
    padding-left:45px;
}


.pl50{
    padding-left:50px;
}

.px20{
    padding-right: 20px;
    padding-left: 20px;
}

.py20{
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Margin */

.m0{
    margin:0px;
}

.m5{
    margin:5px;
}

.m10{
    margin:10px;
}

.m15{
    margin:15px;
}

.m20{
    margin:20px;
}

.m25{
    margin:25px;
}

.m30{
    margin:30px;
}

.m35{
    margin:35px;
}

.m40{
    margin:40px;
}


.m45{
    margin:45px;
}

.m50{
    margin:50px;
}

.mt0{
    margin-top:0px;
}

.mt5{
    margin-top:5px;
}

.mt10{
    margin-top:10px;
}

.mt15{
    margin-top:15px;
}

.mt20{
    margin-top:20px;
}

.mt25{
    margin-top:25px;
}

.mt30{
    margin-top:30px;
}

.mt35{
    margin-top:35px;
}

.mt40{
    margin-top:40px;
}

.mt45{
    margin-top:45px;
}

.mt50{
    margin-top:50px;
}

.mt70{
    margin-top:70px;
}

.mb0{
    margin-bottom:0px;
}

.mb5{
    margin-bottom:5px;
}

.mb10{
    margin-bottom:10px;
}

.mb13{
    margin-bottom:13px;
}

.mb15{
    margin-bottom:15px;
}

.mb20{
    margin-bottom:20px;
}

.mb25{
    margin-bottom:25px;
}

.mb30{
    margin-bottom:30px;
}

.mb35{
    margin-bottom:35px;
}

.mb40{
    margin-bottom:40px;
}

.mb45{
    margin-bottom:45px;
}

.mb50{
    margin-bottom:50px;
}

.mr0{
    margin-right:0px;
}

.mr5{
    margin-right:0px;
}

.mr10{
    margin-right:10px;
}

.mr15{
    margin-right:15px;
}

.mr20{
    margin-right:20px;
}

.mr25{
    margin-right:25px;
}

.mr30{
    margin-right:30px;
}

.mr35{
    margin-right:35px;
}

.mr40{
    margin-right:40px;
}

.mr45{
    margin-right:45px;
}

.mr50{
    margin-right:50px;
}

.ml0{
    margin-left:0px;
}

.ml5{
    margin-left:5px;
}

.ml10{
    margin-left:10px;
}

.ml15{
    margin-left:15px;
}

.ml20{
    margin-left:20px;
}

.ml25{
    margin-left:25px;
}

.ml30{
    margin-left:30px;
}

.ml35{
    margin-left:35px;
}

.ml40{
    margin-left:40px;
}

.ml45{
    margin-left:45px;
}

.ml50{
    margin-left:50px;
}

.w-20{
    width: 20%;
}

/* font Sizes */

.fs11{
    font-size: 11px !important;
}

.fs12{
    font-size: 12px !important;
}

.fs13{
    font-size: 13px !important;
}

.fs15{
    font-size: 15px !important;
}

.fs17{
    font-size: 17px !important;
}

.fs20{
    font-size: 20px !important;
}

.fs22{
    font-size: 22px !important;
}

.fs25{
    font-size: 25px !important;
}

.fs30{
    font-size: 30px !important;
}

/* Border Radius */

.border-radius-10{
    border-radius: 10px;
}

/* text colors */

.text-warning-light{
    color: #fcd9b4;
}

.body-text-color{
    color: #646c76 !important;
}

.text-grey{
    color: #80858d;
}

.text-light-grey{
    color: #aab0b4;
}

.text-green{
    color: #25e041;
}

.text-orange{
    color: #f77e27;
}

.text-black{
    color: #595c8e;
}

.text-blue{
    color: #565a92;
}

.lh20{
    line-height: 20px;
}

.lh30{
    line-height: 30px;
}

.ls-2{
    letter-spacing: 2px;
}

/* Login Page */

.remem-radio-btn{
    position: relative;
    top: 3px;
    width: 16px;
    height: 16px;
}

/* End of Login Page */

/* OTP Verification */

.otp-input{
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #ddd !important;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 50px;
    width: 17%;
}

/* End of OTP Verification */

.not-count{
    background-color: #ff5533;
    color: white;
    font-size: 10px;
    line-height: 0;
    font-weight: 500;
    color: #fff;
    padding: 1em 0.7em;
    border-radius: 100vh;
    position: absolute;
    right: 3px;
    top: 9px;
}

i.fas.fa-arrow-left.body-text-color{
    font-size: 15px;
}

.main-tittle-block{
    border-bottom: 1px solid #ececec !important;
    box-shadow: 0 0.1rem 1rem rgba(0,0,0,.15)!important;    
}

.login-fb-styles, .login-g-styles{
    border-radius: 7px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.justify-content-sb{
    justify-content: space-between;
}

.profile-card-bg{
    background-image: url("../../assets/img/card-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -1px;
}

.view-all-text{
    float: right;
    color: #eb6163;
    line-height: 28px;
    font-weight: bold;
}

.sbi-icon{
    padding: 8px 10px;
    border: 2px dashed #646c76;
    border-radius: 10px;
}

button.btn.btn-rounded.btn-outline-info.btn-own-styles{
    margin: 13px 5px;
    font-weight: bold;
    padding: 3px 24px;
    border: 2px solid;
}

.add-new-btn{
    border: 2px dotted;
}

.seperation-line {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: #eee;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.his-icon-positions{
    position: absolute;
    left: 45px;
    top: 13px;
    margin-top: -2px;
}

.setting-invite-btn{
    position: absolute;
    right: 20px;
}

.gradient-bg{
    box-shadow: 0 .3rem 1rem rgba(0,0,0,.15)!important;
    font-weight: bold;
}

.gradient-btn{
    color: #646c76!important;
    margin: 5px 5px;
    padding: 15px 24px;
    border-radius: 10px !important;
    border: none;
    font-size: 15px;
    background: #f7f9f9;
    font-weight: bold;
    box-shadow: 0 .3rem 1rem rgba(0,0,0,.15)!important;
}

.view-balance-gradient-btn, .edit-account-gradient-btn {
    padding: 15px 24px !important;
    font-size: 13px;
}

.bottom-sticky-buttons {
    position: fixed;
    width: 100%;
    margin: 0;
    bottom: 0px;
    left: 0px;
    z-index: 7;
    display: flex;
    background-color: #f7f9f9;
    border-top: 1px solid #ececec !important;
    box-shadow: 0 0.1rem 1rem rgba(0,0,0,.3)!important;
}

.bottom-menu-gradient-btn{
    font-size: 12px;
    border-radius: 20px;
    border: none;
    height: 70px;
    line-height: 25px;
    color: #646c76 !important;
    font-weight: bold;
}

.styled-buttons{
    color: #646c76;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    text-align: center;
    background: #f7f9f9;
    box-shadow: 0 0.3rem 1rem rgba(0,0,0,.15)!important;
}

.pos-relative{
    position: relative;
}

.pr{
    position: relative;
    top: 70px;
    left: -20px;
}

.border-2{
    border: 2px solid #dedede;
}

.fa-power-off.pow:before {
    position: absolute;
    top: 9px;
    left: 10px;
}

i.far.fa-pause-circle.circle.fs20.styled-buttons.border-2:before {
    position: absolute;
    top: 7.5px;
    left: 8px;
}

i.far.fa-power-off.pow.fs20.styled-buttons:before {
    position: absolute;
    top: 9.5px;
    left: 10.5px;
}

.temp-btn:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(to right, #80aee6, #858585, #1d1f55, #171717);
}

.temp-btn {
    align-items: center;
    margin: auto;
    position: relative;
    padding: 19% 12%;
    box-sizing: border-box;
    color: #646c76;
    background: #f7f9f9;
    background-clip: padding-box;
    border: solid 3px transparent;
    border-radius: 100%;
    /*box-shadow: 1px 15px 20px 4px #1f2940;*/
    box-shadow: 0 .3rem 1rem rgba(0,0,0,.15)!important;
    font-size: 25px;
}

.start-btn{
    background-image: linear-gradient(to right, #486ae3, #20357b);
    /*padding: 28px 10px;*/
    font-weight: 500;
    border-radius: 100%;
    color: #fff !important;
    letter-spacing: 2px;
    border: none;
    box-shadow: 0 0.3rem 1rem rgba(0,0,0,.15)!important;
    width: 80px;
    height: 80px;
    line-height: 65px;
}

.home-bottom-sticky-buttons {
    position: fixed;
    width: 100%;
    margin: 0;
    bottom: 25px;
    left: 0px;
    z-index: 7;
    display: flex;
    margin-left: 0px;
}

.add-butn{
    width: 30px;
    height: 30px;
    background: #646c76;
    color: #fff;
    border-radius: 100%;
    font-size: 30px;
    position: relative;
}

.add-butn span{
    position: absolute;
    right: 6.5px;
    top: 1.5px;
}

.form-control{
    background-color: #f7f9f9;
    color: #3e5068 !important;
    font-size: 10px;
}
.form-control:focus {
    background-color: #f7f9f9;
    color: #3e5068 !important;
}
.form-cntrl{
    border-bottom: 1px solid #b5b5b5 !important;
    border: 0px;
    border-radius: 0px !important;
    padding: .375rem 0rem !important;
}
.form-cntrl:focus {
    border-bottom: 1px solid #b5b5b5 !important;
    border: 0px;
    border-radius: 0px !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #64696d !important;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #64696d !important;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #64696d !important;
}
:-moz-placeholder { /* Firefox 18- */
    color: #64696d !important;
}
.vertical-height{
    height: 100vh;
    position: relative;
}
.vertical-center{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.add-form-title{
    /*font-size: 14px;*/
    color: #3e5068 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}
select.session-duration-dropdown{
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: .25rem;
    background-color: #f7f9f9;
    padding: 8px;
    color: #3e5068 !important;
    font-size: 10px;
}

/*box-shadow: 5px 6px 10px -2px #03053f;*/

/* media Queries */



/* for medium screen */


@media (min-width:992px) and (max-width:1199px) {



}


/* for small screen */

@media (min-width:768px) and (max-width:991px) {



}



/* for Ipad */

@media (width:768px) and (height:1024px) {


    
}



/* for mobile screen landscape */

@media (min-width:577px) and (max-width:767px) {


    
}


/* for mobile screen portrait */

@media (min-width:300px) and (max-width:576px) {


    
}


@media (max-width: 320px){
    .view-balance-gradient-btn, .edit-account-gradient-btn {
        padding: 15px 13px !important;
        font-size: 11px;
    }
    .btn.gradient-btn.setting-invite-btn {
        font-size: 11px !important;
        padding: 9px 15px !important;
    }
    .bottom-menu-gradient-btn{
        /*width: 90px !important;*/
        font-size: 10px;
    }
    .px-xs-15{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    form{
        font-size: 11px !important;
    }
    select.session-duration-dropdown{
        font-size: 11px;    
    }
}







